.sidebar {
  background-color: black;
  color: white;
  height: 90vh;
  position: fixed;
  top: 10%;
  left: 0;
}

.homepage {
  border: 2px solid black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}
